<?xml version="1.0" encoding="UTF-8"?>
<!-- Converted by db4-upgrade version 1.0 -->
<article version="5.0" xmlns="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:ns5="http://www.w3.org/1999/xhtml"
         xmlns:ns4="http://www.w3.org/1998/Math/MathML"
         xmlns:ns3="http://www.w3.org/2000/svg"
         xmlns:ns="http://docbook.org/ns/docbook">
  <info>
    <title>Usage</title>

    <author>
      <personname><firstname>Kathryn</firstname><surname>Huxtable</surname></personname>

      <affiliation>
        <orgname>kathrynhuxtable.org</orgname>
      </affiliation>
    </author>

    <pubdate>2010-04-03</pubdate>
  </info>

  <section>
    <info>
      <title>Usage</title>
    </info>

    <para>You need to add some extensions (<literal>wagon-scm</literal>,
    <literal>maven-scm-manager-plexus</literal> and the maven SCM provider for
    your SCM system; see the example below) to your POM and specify a site URL
    in the <link xlink:href="http://maven.apache.org/scm/git.html"
    xlink:role="">git SCM</link> format.</para>

    <section>
      <info>
        <title>Deploying your Maven site to GitHub</title>
      </info>

      <para>Add the following extensions to your POM and use a
      <literal>wagon-gitsite</literal> url in the
      <literal>distributionManagement</literal> site url.</para>

      <programlisting language="xml">  &lt;build&gt;
    ...
    &lt;extensions&gt;
      &lt;extension&gt;
        &lt;groupId&gt;org.apache.maven.scm&lt;/groupId&gt;
        &lt;artifactId&gt;maven-scm-provider-gitexe&lt;/artifactId&gt;
        &lt;version&gt;1.3&lt;/version&gt;
      &lt;/extension&gt;
      &lt;extension&gt;
        &lt;groupId&gt;org.apache.maven.scm&lt;/groupId&gt;
        &lt;artifactId&gt;maven-scm-manager-plexus&lt;/artifactId&gt;
        &lt;version&gt;1.3&lt;/version&gt;
      &lt;/extension&gt;
      &lt;extension&gt;
        &lt;groupId&gt;org.kathrynhuxtable.maven.wagon&lt;/groupId&gt;
        &lt;artifactId&gt;wagon-gitsite&lt;/artifactId&gt;
        &lt;version&gt;${project.version}&lt;/version&gt;
      &lt;/extension&gt;
    &lt;/extensions&gt;
  &lt;/build&gt;
  ...
  &lt;distributionManagement&gt;
    ...
    &lt;site&gt;
      &lt;id&gt;my-project-site&lt;/id&gt;
      &lt;url&gt;gitsite:git@github.com/tomjones/my-project.git&lt;/url&gt;
    &lt;/site&gt;
  &lt;/distributionManagement&gt;</programlisting>

      <para>You may add an alternate branch following the repository name,
      separated with a colon (:) if you wish, e.g.</para>

      <programlisting language="xml">&lt;url&gt;gitsite:git@github.com/tomjones/my-project.git:<replaceable>my-branch</replaceable>&lt;/url&gt;</programlisting>

      <para>will deploy the site to the <replaceable>my-branch</replaceable>
      branch instead of the <literal>gh-pages</literal> branch.</para>
    </section>
  </section>
</article>
